<div class="container">
    <section class="nav-box">
        <div class="nav-logo">
            <p class="nav-logo-DG">DG</p>
        </div>

        <div class="nav-content">
            <div class="nav-content-genre nav-content-style">
                <label for="">GENRE</label>
                <select class="nav-content-genre-select" disabled>
                    <option value=""></option>
                </select>
            </div>
            <div class="nav-content-categories nav-content-style">
                <label for="">CATOGORIES</label>
                <select class="nav-content-genre-select" disabled>
                    <option value=""></option>
                </select>
            </div>
            <p class="nav-content-about nav-content-style">ABOUT</p>
            <p class="nav-content-profile nav-content-style">PROFILE</p>
        </div>
        
        <div class="nav-icons">
            <i class="fa nav-icons-heart-icon nav-icons-icon">&#xf08a;</i>
            <i class="fa nav-icons-search-icon nav-icons-icon">&#xf002;</i>
            <i class="fa fa-user nav-icons-user-icon nav-icons-icon"></i>


        </div>
    </section>
</div>